<div class="item drop-shadow round">
  <div class="item-image">
    <a href="#collection/<%= id %>"><image src="assets/<%= image_name %>" alt="<%= title %>"></a>
  </div>
  <div class="item-artist">
    <%= artist %>
  </div>
  <div class="item-title">
    <%= title %>
  </div>
  <div class="item-year">
    <%= years %>
  </div>
</div>
