<div class="item drop-shadow round">
  <div class="item-image subalbum">
    <a href="#collection/<%= album_collection_id %>/album/<%= id %>"><image src="assets/<%= image %>" alt="<%= title %>"></a>
  </div>
  <div class="item-artist">
    <%= artist %>
  </div>
  <div class="item-title">
    <%= title %>
  </div>
  <div class="item-price">
    <%= price %>
  </div>
</div>
