<div class="item-detail">
  <div class="item-image drop-shadow round"><img src="assets/<%= large_image %>" alt="<%= title %>" /></div>
  <div class="item-info">
    <div class="item-artist"><%= artist %></div>
    <div class="item-title"><%= title %></div>
    <div class="item-price">$<%= price %></div>
<br />
    <div class="item-link"><a href="<%= url %>" class="button">Buy this item</a></div>
    <div class="back-link"><a href="#" class="button">&laquo; Back to Albums</a></div>
  </div>
</div>